* {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
}

/* .card-headr {
  text-align: center;
  justify-content: center;
} */

/* .card-body {
  background: url(./images/095d6b0760ebb2710669eb6868784a64.jpg) no-repeat
    center center fixed;
  background-size: cover;
  height: 100vh;
} */
