body {
  width: 960px;
  margin: auto;
  background: gray;
  font-size: 18px;
  line-height: 34px;
}
header,
nav,
section,
aside,
footer {
  background: #ebebeb;
  padding: 10px;
  margin: 10px;
  text-align: center;
  display: block;
  color: #777777;
}

section {
  float: left;
  display: block;
  width: 60%;
  height: 267px;
}

aside {
  float: right;
  display: block;
  width: 30%;
  height: 267px;
}

.clear {
  clear: both;
}

article {
  margin: 10px;
  padding: 10px;
  background: gray;
  color: #ebebeb;
}

h1,
p {
  margin: 10px;
  padding: 10px;
  background: #ebebeb;
  color: #777777;
  text-align: center;
}
